@media screen and (min-width: 768px) {
    .restaurants {
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 2%;
            &__link {
                width: 49%;
            }
        }
    }

    .fonction{
        &__block {
            justify-content: center;
            &__line {
                width: 50%;
            }
        }
    }

    .footer {
        &__puces {
            flex-direction: row;
            &__list {
                width: 25%;
            }
        }
    }
}
    