.btn {
    background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    width: 200px;
    align-self: center;
}