@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        transform: translateX(9999px);
    }
    to {
        transform: translateX(0);
    }
}