.menu {
    margin: 40px 20px 0 20px;
    &__underline {
        margin-top: -12px;
        width: 50px;
        height: 3px;
        background-color: $color-tertiary;
    }
    &__line {
        &:hover {
            .menu__line__validation {
                width: 75px;
                min-width: 75px;
                transition: all 400ms;
                &__icon {
                    animation: spin 300ms linear;
                }
            }
        }
        overflow: hidden;
        display: flex;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 3px 5px 6px rgb(210, 210, 210);
        opacity: 0;
        animation: appear $anim_dur forwards;
        @for $i from 1 through $num_menu {
            &--#{$i} {
                animation-delay: $anim_delay * $i;
            }
        }
        &__txt {
            padding: 15px;
            flex-grow: 1;
            overflow: hidden;
            &__1 {
                margin: unset;
                font-size: 15px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__2 {
                margin: unset;
                font-size: 13px;
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price {
            margin: unset;
            padding-bottom: 15px;
            display: flex;
            font-weight: 600;
            align-items: flex-end;
            justify-content: center;
            width: 65px;
            min-width: 65px;
        }
        &__validation {
            display: flex;
            width: 0;
            min-width: 0;
            overflow: hidden;
            background-color: $color-tertiary;
            justify-content: center;
            align-items: center;
            transition: all 400ms;
            .fa-circle-check {
                color: #fff;
            }
        }

    }
}